
# Pinout for the iCE40-HX8K Breakout Board

set_io clk P7

set_io flash_csb P13
set_io flash_clk P12
set_io flash_io0 M11
set_io flash_io1 P11

# these aren't connected to flash, need to be unused pins
set_io flash_io2 P2
set_io flash_io3 P3

set_io ser_tx M9
set_io ser_rx P14

set_io leds[7] N14  # D9
set_io leds[6] M12  # D8
set_io leds[5] L14  # D7
set_io leds[4] L12  # D6
set_io leds[3] K14  # D5
set_io leds[2] K12  # D4
set_io leds[1] K11  # D3
set_io leds[0] J11  # D2

