BLOCK RESETPATHS;
BLOCK ASYNCPATHS;
# Pinout for the ECP5-EVN Board

# 25 MHz clock
LOCATE COMP "clk" SITE "G2";
IOBUF PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

LOCATE COMP "rstn" SITE "D6";
IOBUF PORT "rstn" PULLMODE=UP IO_TYPE=LVCMOS33;

LOCATE COMP "flash_csb" SITE "R2";
LOCATE COMP "flash_io0" SITE "W2";
LOCATE COMP "flash_io1" SITE "V2";
LOCATE COMP "flash_io2" SITE "Y2";
LOCATE COMP "flash_io3" SITE "W1";
IOBUF PORT "flash_csb" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "flash_io0" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "flash_io1" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "flash_io2" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "flash_io3" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# RS232
LOCATE COMP "ser_tx" SITE "L4"; # ECP5 -> FTDI
IOBUF PORT "ser_tx" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "ser_rx" SITE "M1"; # FTDI -> ECP5
IOBUF PORT "ser_rx" IO_TYPE=LVCMOS33;


# J39.5
#LOCATE COMP "debug_flash_csb" SITE "B15";
#IOBUF PORT "debug_flash_csb" IO_TYPE=LVCMOS25;
## J39.7
#LOCATE COMP "debug_flash_clk" SITE "B13";
#IOBUF PORT "debug_flash_clk" IO_TYPE=LVCMOS25;
## J39.9
#LOCATE COMP "debug_flash_io0" SITE "D11";
#IOBUF PORT "debug_flash_io0" IO_TYPE=LVCMOS25;
## J39.11
#LOCATE COMP "debug_flash_io1" SITE "B12";
#IOBUF PORT "debug_flash_io1" IO_TYPE=LVCMOS25;
## J39.13
#LOCATE COMP "debug_flash_io2" SITE "D12";
#IOBUF PORT "debug_flash_io2" IO_TYPE=LVCMOS25;
## J39.15
#LOCATE COMP "debug_flash_io3" SITE "C13";
#IOBUF PORT "debug_flash_io3" IO_TYPE=LVCMOS25;

# Onboard LEDs
LOCATE COMP "leds[0]" SITE "H3";
IOBUF PORT "leds[0]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "leds[1]" SITE "E1";
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "leds[2]" SITE "E2";
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "leds[3]" SITE "D1";
IOBUF PORT "leds[3]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "leds[4]" SITE "D2";
IOBUF PORT "leds[4]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "leds[5]" SITE "C1";
IOBUF PORT "leds[5]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "leds[6]" SITE "C2";
IOBUF PORT "leds[6]" IO_TYPE=LVCMOS33 DRIVE=4;
LOCATE COMP "leds[7]" SITE "B2";
IOBUF PORT "leds[7]" IO_TYPE=LVCMOS33 DRIVE=4;

